@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\0000340}}
html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #000000;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\0000350}}
p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\0000361}}
a {
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\0000366}}
a:hover {
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\0000372}}
strong.important {
  text-transform: uppercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\0000377}}
hr {
  border: none;
  border-bottom: 1px solid #666666;
  margin-top: 20px;
  margin-bottom: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\0000384}}
#heading {
  margin-top: 4em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\0000388}}
h1.title {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  display: block;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\0000396}}
.scores-container {
  text-align: right;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003101}}
.score-container, .best-container, .total-facts, .fact, .smiley, .question-container {
  min-height: 2.5em;
  display: inline-block;
  background: #bbada0;
  font-size: 15px;
  height: auto;
  line-height: 25px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center;
  min-width: 8.3em;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003120}}
#instructions {
  padding-top: 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003125}}
.game-button {
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 10px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  cursor: pointer;
  display: block;
  text-align: center;
  float: left;
  border: none;
  width: 6.3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003148}}
#game-container {
  position: relative;
  width: 400px;
  height: 400px;
  margin-left: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003155}}
#game-container-2 {
  position: relative;
  width: 400px;
  height: 310px;
  margin-left: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003162}}
.game-overlay {
  width: 400px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.47);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  text-align: center;
  padding-top: 35%;
  font-size: 3em;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003175}}
.game-overlay.game3overlay {
  height: 310px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003179}}
.game-overlay .lower {
  display: block;
  margin-top: 29px;
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003184}}
.game-overlay .lower a {
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  cursor: pointer;
  margin-left: 9px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003206}}
.text-color-green {
  color: #04B404;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003210}}
.text-color-red {
  color: #E0420D;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003214}}
.background-color-blue {
  background-color: rgba(51, 153, 255, 0.8);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003218}}
.background-color-green {
  background-color: rgba(4, 180, 4, 0.8);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003222}}
.background-color-red {
  background-color: rgba(224, 66, 13, 0.8);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003228}}
.background-color-default {
  background-color: #eee4da;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003232}}
.background-color-white {
  background-color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003237}}
.top-space-40 {
  margin-top: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003241}}
#game {
  position: relative;
  padding: 10px;
  cursor: default;
  background: #bbaaa0;
  border-radius: 6px;
  width: 400px;
  height: 400px;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003253}}
#game.game3 {
  height: 310px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003257}}
#game .grid-container {
  position: absolute;
  z-index: 1;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003262}}
#game .grid-container .grid-cell {
  width: 87.5px;
  height: 87.5px;
  margin-bottom: 10px;
  margin-right: 10px;
  float: left;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: rgba(238, 228, 218, 0.35);
  -webkit-animation: appear 4s 0s ease-in 1;
  animation: appear 4s 0s ease-in 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003271}}
#game .grid-container .grid-cell:last-child {
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003277}}
#game .tile-container {
  position: absolute;
  z-index: 2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003281}}
#game .tile-container .tile {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  font-size: 8px;
  width: 87.5px;
  height: 87.5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  transition-property: -webkit-transform;
  transition-property: transform;
  z-index: 2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003301}}
#game .tile-container .tile.tile-merged .tile-inner {
  -webkit-animation: pop 50ms ease-in;
  animation: pop 50ms ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003318}}
#game .tile-container .tile.position-0-0 {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003318}}
#game .tile-container .tile.position-0-1 {
  -webkit-transform: translate(0px, 97.5px);
  transform: translate(0px, 97.5px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003318}}
#game .tile-container .tile.position-0-2 {
  -webkit-transform: translate(0px, 195px);
  transform: translate(0px, 195px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003318}}
#game .tile-container .tile.position-0-3 {
  -webkit-transform: translate(0px, 292.5px);
  transform: translate(0px, 292.5px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003318}}
#game .tile-container .tile.position-1-0 {
  -webkit-transform: translate(97.5px, 0px);
  transform: translate(97.5px, 0px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003318}}
#game .tile-container .tile.position-1-1 {
  -webkit-transform: translate(97.5px, 97.5px);
  transform: translate(97.5px, 97.5px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003318}}
#game .tile-container .tile.position-1-2 {
  -webkit-transform: translate(97.5px, 195px);
  transform: translate(97.5px, 195px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003318}}
#game .tile-container .tile.position-1-3 {
  -webkit-transform: translate(97.5px, 292.5px);
  transform: translate(97.5px, 292.5px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003318}}
#game .tile-container .tile.position-2-0 {
  -webkit-transform: translate(195px, 0px);
  transform: translate(195px, 0px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003318}}
#game .tile-container .tile.position-2-1 {
  -webkit-transform: translate(195px, 97.5px);
  transform: translate(195px, 97.5px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003318}}
#game .tile-container .tile.position-2-2 {
  -webkit-transform: translate(195px, 195px);
  transform: translate(195px, 195px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003318}}
#game .tile-container .tile.position-2-3 {
  -webkit-transform: translate(195px, 292.5px);
  transform: translate(195px, 292.5px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003318}}
#game .tile-container .tile.position-3-0 {
  -webkit-transform: translate(292.5px, 0px);
  transform: translate(292.5px, 0px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003318}}
#game .tile-container .tile.position-3-1 {
  -webkit-transform: translate(292.5px, 97.5px);
  transform: translate(292.5px, 97.5px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003318}}
#game .tile-container .tile.position-3-2 {
  -webkit-transform: translate(292.5px, 195px);
  transform: translate(292.5px, 195px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003318}}
#game .tile-container .tile.position-3-3 {
  -webkit-transform: translate(292.5px, 292.5px);
  transform: translate(292.5px, 292.5px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003328}}
#game .tile-container .tile.normal-color .tile-inner {
  background: rgba(238, 228, 218, 0.35);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003333}}
#game .tile-container .tile.tile-question .tile-inner {
  background: #0EBFE9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003337}}
#game .tile-container .tile.right-answer .tile-inner {
  background: #3DF577;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003340}}
#game .tile-container .tile.selected-answer .tile-inner {
  background: #E0FFFF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003346}}
#game .tile-container .tile.wrong-answer .tile-inner {
  background: #E0420D;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003350}}
#game .tile-container .tile.wrong-answer-text .tile-inner {
  color: #E0420D;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003354}}
#game .tile-container .tile:last-child {
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexaravind\/Desktop\/angular\/road2math\/app\/styles\/game\.scss}line{font-family:\00003358}}
#game .tile-container .tile .tile-inner {
  line-height: 90px;
  text-align: center;
  font-weight: bold;
  z-index: 10;
  font-size: 2.5em;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes pop {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pop {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
